<%= form_for(@port) do |f| %>
  <div class="field">
    <%= f.hidden_field :game_id, value: @game.id %>
    <%= f.label :port_start %> <%= f.number_field :port_start %><br>
    <%= f.label :port_end %> <%= f.number_field :port_end %><br>
    <%= f.select(:protocol, :Protocol => ['TCP', 'UDP', 'Both']) %><br>
    <%= f.select(:system, :System => ['PC', 'PS4', 'Xbox', 'All']) %><br>
  </div>
<BR>
  <div class="actions">
    <%= f.submit 'Add a Port' %>
  </div>
<% end %>
