<%= render 'shared/header' %>

<h1>Adding a Port for <%= @game.title %></h1>

<%= render 'form' %>
<BR>
<%= link_to 'Back', games_path, class: "btn btn-default btn-xs" %>

<%= render 'shared/donate' %>
