<%= render 'shared/header' %>
  <h1><strong>Game:</strong> <%= @game.title %></h1>
  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr>
        <th>Port</th>
        <th>Start</th>
        <th>End</th>
        <th>Protocol</th>
        <th>System</th>
      </tr>
    </thead>
    <tbody>
      <% @game.ports.each do |port| %>
        <tr>
          <td>'Start Port'</td>
          <td>'End Port'</td>
          <td>'Protocol'</td>
          <td>'System'</td>
          <td><%= link_to 'Update', edit_port_path(port), class: "btn btn-default btn-xs"  %></td>
          <td><%= link_to 'Delete', port, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
  <%= link_to 'Add Port', new_game_port_path(game_id: @game.id), class: "btn btn-default btn-xs" %> |
  <%= link_to 'Rename Title', edit_game_path(@game), class: "btn btn-default btn-xs" %>
